.container {
  margin: 0 auto;
  width: 683px;
  
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  margin: 14px;

  align-items: baseline;
  align-content: space-between;
  justify-content: space-between;
}

.row .range {
  width: 50%;
}

.row span {
  margin-right: 15px;
  justify-content: center;
}

div.row:last-child {
  margin-left: 15px;
}

.palette {
  width: 200px;
  height: 200px;
}
