
.content {
  margin-top: 45px;
}

.is-column {
  flex-direction: column;
  align-items: center;
}

.is-border {
  border: 1px solid black;
  border-radius: 1px;
}

.is-padding > .column {
  margin: 0.75rem;
}

.app-tile {
  flex-direction: column;
  margin-bottom: 40px;
}

.app-background {
  background-color: #dcd9de;
}
